.about_us {
    

    display: flex;
    align-items: center;

    img { margin-right: 45px; }

    @media screen and ( max-width: 375px ) { 

        display: flex;
        flex-direction: column;
    align-items: center;
    max-width: 90%;

    img {   max-width: 100%;
            border: $pink 1px solid; }

       } 

p { color: #b3B3B3 ;
margin-bottom: 10px;
line-height: 26px;

}

div div { margin-bottom: 35px;}

 
}




